/* Reset default styles for all HTML elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
  
  }
  
  /* Set default font family and font size */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  /* Define some basic styles for headings */
  h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    
  }

  p {
      color:blanchedalmond
  }
  
  /* Set up a basic layout with a header, main content area, and footer */
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
  }
  
  main {
    padding: 1em;
  }

  .image-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  
  footer {
    
    background-color:blanchedalmond);
    color: rgb(0, 0, 0);
    padding: 1em;
    text-align: center;
  }
  